
.tracker{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tracker-container{
   width: 300px;
   background-color: rgb(149, 238, 168);
   border-bottom-left-radius: 12px;
   border-bottom-right-radius: 12px;
}
.tracker-container h3,.tracker-container  p{
    text-align: center;
    margin: 10px;
}

.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}
input{
    margin-right: 4px;
    width: 200px;
    padding: 2px;
    border-radius: 4px;
    border: 1px solid green;
}
label{
    font-size: 17px;
    margin-left: 4px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.button button{
    width: 50px;
    height: 30px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid green;
}
